.shape {
  width: 100px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  background-color: $color-neutrals-n-500;
  margin: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
  // @include effect-style-border-cut-bottom($color-neutrals-n-500);
  border: solid 1px #fff;
}

.shape-wrap-shadow {
  filter: drop-shadow(0 0 3px #fff);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
}

$dash-svg: "<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' fill='none' rx='5' ry='5' stroke='#{$color-neutrals-n-500}' stroke-width='1' stroke-dasharray='10,5' stroke-dashoffset='0' stroke-linecap='square'/></svg>";

.dashed-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  padding: 10px;
  background-image: #{inline-svg($dash-svg)};
}
